.Char{
    height: 80%;
    /*width: 55%;*/
    z-index: 1;
    position:absolute;
}

.Char.right{
    left: 45%;

    transform: scaleX(-1);

    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}



@keyframes slideLeft {
    0% {
        transform: translateX(150%) scaleX(-1);
    }
    50% {
        transform: translateX(0%) scaleX(-1);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%) scaleX(-1);
    }
    50% {
        -webkit-transform: translateX(0%) scaleX(-1);
    }
}


.Char.left{
    right: 45%;
    animation-name: slideRight;
    -webkit-animation-name: slideRight;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50% {
        -webkit-transform: translateX(0%);
    }
}