.Input input {
    font-size: calc(90vmax / 16 * 9 * 0.05);
    outline: none;
    border: none;
    padding: 16px 24px;
    border-radius: 10em;

    width: 100%;
}

.Input {
    position: relative;
    display: flex;
    align-items: flex-end;

}

.Input__icon {
    /*width: 40px;*/
    height: calc(90vmax / 16 * 9 * 0.1);;
    margin-right: 8px;
}

.Input__hint_icon {

    position: absolute;
    height: calc(80% - 16px);

    bottom: calc(10% + 8px);
    right: calc(24px);
    cursor: pointer;
}


.Input__hint_icon:hover{
    transform: scale(1.1,1.1);
}



.Input__hint_text:after {
    left: 65%;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: rgb(238, 236, 237);
    border-top: 0;
    margin-left: -10px;
    margin-top: -10px;
    top: .4em;
}


.Input__hint_text{
    position: absolute;
    /*min-height: 80px;*/
    border-radius: 20em;
    padding: 16px;

    top: calc(100% + 8px);

    width: 50%;

    right: calc(24px - 20%);

    background: rgb(238, 236, 237);

    visibility: hidden;
    text-align: center;

    z-index: 200;

    max-width: 50%;


    font-size: calc(90vmax / 16 * 9 * 0.03);
}

.Input__hint_text:first-letter{
    text-transform: capitalize;
}


.Input__hint_icon:hover + .Input__hint_text{

    visibility: visible;

}