.Activity{
    position: absolute;
    width: 100%;
    height: 40%;
    max-width: 72%;
    top: 50%;
    z-index: 2;
}


.Activity.right {
    right: 25%;
}

.Activity.left {
    left: 25%;
}

.Activity.null {
    left: 15%;
}

.Activity.center {
    left: 15%;
}

.Activity.letter {
    max-width: 100%;
    width: 100%;
    height: 100%;
    top: 0;
}
