@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url("/Comfortaa.ttf") format('opentype');
}

body {
    font-family: 'Comfortaa', serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.main-container {
}

.main-container__third-block {
    justify-content: space-evenly;
    display: flex;
    /*height: 70vh;*/
    background: #6FB2BC;
}


.main-container__header {
    background: #75C6D1;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.main-container__header-content{
    width: 80vw;
    max-width: 1600px;
    padding: 5% 40px 0 40px;
    margin: 0 auto;
}

.main-container__middle-content{
    /*width: 100vw;*/
    max-width: 1400px;
    padding: 40px;
    margin: 0 auto;
}

.main-container__header > div {
    min-width: 50%;
    color: white;
    text-align: center;
}

.main-container__header-image {
    width: 50%;
    margin-bottom: -32px;
    float: left
}

.main-container__header-invite {
    margin-top: 10%;
    width: 45%;
    font-family: Comfortaa, "Manjari Regular", serif;
    white-space: nowrap;
    font-size: 3vw;
    float: right;
    font-weight: bold;
}
.main-container__vk-register_button {
    font-family: Comfortaa, "Manjari Regular", serif;
    font-size: 1.7vw;
    background: #89ff9e;
    color: #000000;
    border: none;
    width: 90%;
    height: 100px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s ease;
}


.main-container__vk-register_button:hover {
    background: #66F47E;
    cursor: pointer;
}


.main-container__register_button {
    margin-top: 10px;
    font-family: Comfortaa, "Manjari Regular", serif;
    font-size: 1.7vw;
    background: #c9c9c9;
    color: #000000;
    border: none;
    width: 90%;
    height: 100px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s ease;
 }

.main-container__register_button:hover {
    background: #d0d0d0;
    cursor: pointer;
}



.main-container__middle-block {

    padding: 80px 0;
    font-size: 3.5vw;
    font-family: Comfortaa, "Manjari Regular", serif;
    color:black;
    text-align: center;
}

.main-container__header-invite_date {

    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-container__price_block1{
    width: 40%;
    background: #E28B84;
    height: 30vw;
    max-height: 360px;
    /*max-width: 400px;*/
    margin-left: 60%;
    transform: rotate(2.5deg);
}

.main-container__price_block2{
    width: 40%;
    background: #E2B184;
    margin: 0 auto;
    max-height: 360px;
    /*max-width: 400px;*/
    transform: rotate(2.5deg);
    height: 30vw;
}

.main-container__price_block3{
    width: 40%;
    background: #76CA85;
    float: left;
    max-height: 360px;
    /*max-width: 400px;*/
    height: 30vw;
    transform: rotate(2.5deg);
}

.row{
    width: 100%;
    height: 25vw;
    max-height: 300px;
    font-weight: 900;
}
.main-container__price{
    color: #ffffff;
    width: 100vw;
    max-width: 1040px;
    padding: 100px 40px 100px 40px ;
    margin: 0 auto;
}

.main-container__price_text{
    float: left;
    width:  40%;
    font-size: 3vw;

}

.main-container__price_block-text{
    padding: 8vw 16px;
    font-size: 3vw;
}

.main-container__footer-buttons > * {
    padding: 0 16px;
    width: 40%;
}

@media (max-width: 840px) {
    .main-container__header-invite_date{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .main-container__header-content{
        padding: 16px 16px 0 16px;
        font-size: 4vw;
    }

    .main-container__middle-content{
        padding: 16px;
        font-weight: 600;
        font-size: 4vw;
    }
    .main-container__header-invite{
        margin-top: 10%;
        width: 50%;
        font-size: medium;
    }
    .main-container__header-image{
        width: 40%;
        margin-bottom: -16px;
    }
    .main-container__register_button {
        margin-top: 8px;
        padding: 8px 2px;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
        margin-bottom: 8px;
        width: 80%;

        font-size: 3vw;
    }

    .main-container__vk-register_button {
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);;
    }


    .main-container__middle-block{
        padding: 32px 0 32px 0;
    }

    .main-container__price{
        padding: 40px 16px 40px 16px;
    }

    .main-container__price_text{
        font-size: 4vw;
        font-weight: 600;
    }
    .main-container__price_block-text{
        padding: 10vw 3vw;
    }
}

@media (min-width: 1400px) {
    .main-container__price_block-text{
        padding: 3vw 16px;
        font-size: 2vw;
    }

    .main-container__price_text{
        font-size: 2.5vw;
        font-weight: 600;
    }
}


@media (max-width: 1400px) {
    .main-container__header-content {
    }

    .main-container__vk-register_button {
        height: 50px;
    }
}

@media (max-width: 620px) {
    .main-container__header-invite {
        margin-top: 0;
    }

    .main-container__vk-register_button {
        height: 20px;
    }
}
