.register-form {
    width: 250px;
}

.register-form label {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.register-form input {
    float: right;
    margin-bottom: 10px;
}

.register-form button {
    float: right;
}