.register-form {
    width: calc(100vw - 128px);
    max-width: 1024px;
    margin: 0 auto;
    padding: 64px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}


.register-form > form {
    /*padding-right: 64px;*/
    width: 45%;

}

.register-form__data-protect {
    font-family: Comfortaa, "Manjari Regular", serif;
    display: block;
    color: #009918;
    text-align: center;
    width: 100%;
    font-size: xx-large;
    margin-bottom: 30px;
}

.register-form input:focus {
    outline: none;
}

.register-form input {
    padding-left: 5px;
    margin-bottom: 25px;
    font-family: Comfortaa, "Manjari Regular", serif;
    border: none;
    border-bottom: 1px solid black;
    font-size: x-large;
    float: right;
    width: 100%;
    height: 50px;
}

.register-form input[type="checkbox"] {
    /*-webkit-appearance:none;*/

    float: left;
    width: 15px;
    height: 15px;
    margin-right: 25px;

    zoom: 1;
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
}

/*.register-form input[type='checkbox']:checked {*/
/*    background: #abd;*/
/*}*/

.register-form input[type="tel"] {
    margin-bottom: 15px;
}

.register-form input[type="tel"]:valid:not(:placeholder-shown) {
    border-color: green;
}

.register-form input[type="tel"]:invalid:not(:placeholder-shown) {
    border-color: red;
}

.register-form input[type="tel"]:invalid:not(:placeholder-shown) + .form__error {
    display: block;
}

.register-form button {
    border: none;
    font-family: Comfortaa, "Manjari Regular", serif;
    font-size: 36px;
    color: white;
    width: 100%;
    padding: 16px 0;
    float: right;
    background: #000000;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);

    margin-top: 20px;
}

.register-form button:disabled{
    border: none;
    box-shadow: none;
    background: #a3a3a3;
}

.register-form button:disabled:hover{
    cursor: initial;
    background: #a3a3a3;
}

.register-form button:hover{
    cursor: pointer;
    background: #555555;
}

.register-form__data_warning {
    /*padding: 100px;*/
    font-family: Comfortaa, "Manjari Regular", serif;
    width: 45%;
    font-size: large;
    text-align: left;
}

.register-form__data_warning-attention {
    color: #960000
}

.register-form_policy_accept-text {
    font-size: large;

}

.register-form-success-end-greetings {
    color: #2e9900;
    font-weight: bolder;
}

.register-form-success-end {
    color: #000000;
    font-family: Comfortaa, "Manjari Regular", serif;
    font-size: 3vw;
    margin-top: 25%;
    text-align: center;
}


@media (max-width: 650px) {
    .register-form__data_warning {
        font-family: Comfortaa, "Manjari Regular", serif;
        width: 80%;
        font-size: 12px;
        padding: 0;
        margin-top: 25px;
        text-align: left;
    }


    .register-form input[type="checkbox"] {
        float: left;

        width: 16px;
        height: 32px;
        margin: 0;
        padding: 0;

        transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
        /*padding-right: 4px;*/
    }

    .register-form_policy_accept-text {
        font-size: small;
        float: right;
        width: 90%;
        padding-top: 8px;

    }

    .register-form button {
        margin-top: 15px;
        font-size: 20px;
        color: white;
        width: 100%;
        padding: 8px 0;
        background: #000000;
        box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    }
    .register-form input {
        margin-bottom: 10px;
        font-size: 14pt;
        float: right;
        width: 100%;
        height: 30px;
    }
    .register-form__data-protect {
        font-size: 16pt;
    }
    .register-form > form {
        padding: 0;
        width: 80%;
    }
    .register-form {

        padding: 16px 16px;

        width: calc(100vw - 32px);
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
}