.Checklist {
    z-index: 102;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.Checklist div{
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 0.5s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
}

.Checklist div:nth-child(1){
    animation-delay: 0.5s; /* Задержка перед началом */
}

.Checklist div:nth-child(2){
    animation-delay: 0.75s; /* Задержка перед началом */
}

.Checklist div:nth-child(3){
    animation-delay: 1s; /* Задержка перед началом */
}

.Checklist div:nth-child(4){
    animation-delay: 1.25s; /* Задержка перед началом */
}

.Checklist div:nth-child(5){
    animation-delay: 1.5s; /* Задержка перед началом */
}

.Checklist div:nth-child(6){
    animation-delay: 1.75s; /* Задержка перед началом */
}
