.DetailedResponse textarea {
    font-weight: 900;
    resize: none;
    text-align: justify;
    height: 85%;
    border-radius: 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font-size: calc(90vh/16*9 * 0.05);
    font-family: Nunito, serif ;
}

.DetailedResponse textarea:focus {
    outline: none;

}

.DetailedResponse button {
    float: right;
}

.DetailedResponse {
    padding: 20%;
    height: 70%;
}