.CharSelection-select {
    width: 100%;
    height: 85%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CharSelection {
    background: #a8d5ee;
    flex-grow: 0;
    flex-basis: 100%;
    height: 100%;
}

.CharSelection-invite {
    /*font-size: 25pt;*/
    font-size: calc(90vh/16*9 * 0.06);
    text-align: center;
    font-weight: bolder;
    background: white;
    color: #194472;
    height: 15%;
}

.CharSelection-invite > span {
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: block;
}



.CharSelection-select_play {
    height: 13%;
}

.CharSelection-select_play:hover {
    cursor: pointer;
}


.CharSelection-select__lock-image {
    position: relative;
    z-index: 102;
    width: 15%;
}

.CharSelection-select  span img {
    width: 100%;
    height: 100%;
}


.CharSelection-select_play {
    margin-top: 15%;
    width: 35%;
    background-image: url("/ButtonPlayGreen.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CharSelection-select_play.disabled {
    background-image: url("/ButtonPlayGrey.png");
}



.CharSelection-select_play-text {
    user-select: none;
    display: block;
    color: white;
    font-size: calc(90vh/16*9 * 0.06);
    font-weight: bolder;
    text-align: center;
    margin-top: -8px;
}


@media (max-width: 440px) {
    .CharSelection-invite > span {
        width: 50%;
    }
}