.FinishScreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background: white;
    color: #3e6980;
    font-weight: bolder;
    justify-content: space-around;
    font-size: calc(90vh/16*9 * 0.05);
    text-align: center;
}

.FinishScreen-image  {
    text-align: center;
}

.FinishScreen-image img {
    width: 50%;
}

.FinishScreen-observe {
    text-align: center;
}

.FinishScreen-observe_vk img{
    margin-top: 16px;
    width: 35%;
}

.FinishScreen-time_amount {
    margin-top: 8px;
    /*width: 220px;*/
    background: #a4dde7;
    padding: 8px 24px;
    border-radius: 25em;
    max-width: 90%;
}


.FinishScreen-wait {
    width: 60%;
    font-size: calc(90vh/16*9 * 0.04);
}
.FinishScreen-points_amount {
    margin-top: 8px;
    /*width: 220px;*/
    padding: 8px 24px;
    background: #a4dde7;
    border-radius: 25em;
}